@media(max-width: 768px){
    .flex-cont {
        display: flex;
        flex-direction: column; /* Stack on top */
      }
      .flex-comp-a {
        order: 2; /* Go down, bring Box B up */
      }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.btn {
    border-radius: 50px;
}

#expense-list{
  display: flex;
  flex-direction: column;
}

#sidebar{
  margin: auto 0;
}

.expense{
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.expense span{
  width: 20%;
}

.card{
  box-shadow: none!important;
}
.expense-container{
  margin-top: 0;
  overflow:scroll;
  overflow-x: hidden;
  min-height: 100vh;
}