@media(max-width: 768px){
    .flex-cont {
        display: flex;
        flex-direction: column; /* Stack on top */
      }
      .flex-comp-a {
        order: 2; /* Go down, bring Box B up */
      }
}

.btn {
    border-radius: 50px;
}

#expense-list{
  display: flex;
  flex-direction: column;
}

.expense{
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}